body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ecdefe, #d7cdfe);
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}
/* สไตล์สำหรับ .header */
.header {
    width: 100%;
    background-color: #4e54c8;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 2em; /* ขนาดใหญ่สำหรับ Booking */
    font-weight: bold;
    margin: 0;
}

.sub-title {
    font-size: 1em; /* ขนาดเล็กกว่า สำหรับ ระบบจองห้องประชุม */
    margin: 0;
}


/* Hamburger menu icon */
.menu-icon {
    position: fixed;
    top: 35px;
    left: 20px;
    cursor: pointer;
    z-index: 1100;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #4e54c8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1100; /* ให้อยู่เหนือ header */
    color: white; /*สีปุ่ม X*/
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #3b41b9;
}

/* เพิ่มการตั้งค่าให้ .close-btn ให้มีเลเยอร์ด้านหน้าสุด */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
    z-index: 1200; /* เพิ่มเลเยอร์ให้อยู่ด้านหน้าสุด */
    }

/* ทำให้เนื้อหาด้านล่างไม่ซ้อนกับ .header */
.login-container {
    margin-top: 100px; /* ระยะห่างจาก .header */
    text-align: center;
}

